@import "../utilities/variables";

#app-container-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $color-bright;
  border: 1rem solid $color-primary-light;
  color: white;
  height: 20rem;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

h1 {
  margin: 2rem;
  text-align: center;
}

#links {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: .5rem;
  margin: .5rem;
}

#links :hover{
  color: white;
}
