@import "../utilities/variables";

#footer {
  text-align: center;
  position: sticky;
  top: 100vh;
  background: $color-primary-light;
  border: 1rem solid $color-dark-variant;
  color: white;
  padding: .5rem;
  margin: 0;
}