@import "../utilities/variables";
@import "../utilities/mixins";

.genre-card {
    display: flex;
    flex-direction: column;
    height: 10rem;
    align-items: center;
    transition: transform 0.3s ease;
}

.genre-card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#genre-name:hover {
    transform: none;
}

.genre-container {
    height: 125px;
    width: 125px;
    background: linear-gradient($random-perc, $color-bright, $color-dark-variant 100%);
}
