@import "../utilities/variables";
@import "../utilities/mixins";

.genre-card {
    display: flex;
    flex-direction: column;
    height: 10rem;
    align-items: center;
}

.genre-card :hover {
    cursor: pointer;
}

.genre-container {
    height: 100px;
    width: 100px;
    background: linear-gradient($random-perc, $color-bright, $color-dark-variant 100%);
}