@import "../utilities/variables";

#home-container-wrapper {
    display: flex;
    flex-direction: column;
}

#nav-playlist-container-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 2rem;
    height: 100vh;
    padding-bottom: 1rem;
}

#content-container-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: scroll;
}