@import "../utilities/variables";

#home-container-wrapper {
    display: flex;
    flex-direction: column;
}

#content-container-wrapper {
    display: grid;
    grid-template-columns: 15rem auto 25rem;
    justify-content: space-evenly;
}