@import "../utilities/variables";

#home-container-wrapper {
    display: flex;
    flex-direction: column;
}

#nav-playlist-container-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 2rem;
    height: 100vh;
}

#content-container-wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-evenly;
    overflow: scroll;
}