@import "../utilities/variables";

#navbar-container-wrapper {
    background-color: $color-bright;
    overflow: hidden;
    height: 100vh;
    width: 25vh;
}

.links {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}