@import "../utilities/variables";

#navbar-container-wrapper {
    background-color: $color-bright;
    width: 100%;
    overflow: hidden;
}

.links {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}