@import "../utilities/variables";

#navbar-container-wrapper {
    display: flex;
    flex-direction: column;
    background-color: $color-bright;
    height: 15vh;
}

#links a {
    font-size: .75rem;
    padding: .25rem;
}