@import "../utilities/variables";

#playlists-container-wrapper {
    background-color: $color-primary-light;
    height: 100vh;
    padding: .5rem;
}

.new-playlist-container {
    display: flex;
    flex-direction: column;
    margin: .75rem;
}

#create-playlist:hover {
    color: white;
}