@import "../utilities/variables";

.name {
    display: flex;
    justify-content: space-between;
}

#expand-collapse:hover {
    cursor: pointer;
    color: white;
}

.playlist-options {
    display: flex;
    justify-content: space-between;
}

.edit:hover, .delete:hover {
    color: white;
    cursor: pointer;
}

.playlist-names {
    margin: .75rem;
}
