@import "../utilities/variables";

#playlists-container-wrapper {
    background-color: $color-primary-light;
    height: 100vh;
    padding: .5rem;
    cursor: default;
}

.new-playlist-container {
    display: flex;
    flex-direction: column;
    margin: .75rem;
}

#create-playlist:hover {
    color: white;
    cursor: pointer;
}

.new-song-container {
    margin: .75rem;
}

.song-form-close {
    margin-bottom: 0;
}

.song-form-close:hover {
    color: white;
    cursor: pointer;
}

.confirm {
    color: $color-bright;
}

.error {
    color: $color-dark-variant;
}

.song-form {
    display: flex;
    flex-direction: column;

    select, option {
        width: auto;
    }

    select {
        padding: .25rem;
        margin-bottom: 2rem;
    }
}