@import "../utilities/variables";

#signupform-container-wrapper {
    display: flex;
    flex-direction: column;
    background-color: $color-bright;
    border: 1rem solid $color-primary-light;
    color: white;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 2rem 10rem;
    padding: 2rem;

    form {
      display: flex;
      flex-direction: column;
      margin: 1rem;
    }

    input {
      width: 100%;
      padding: .25rem .5rem;
      margin: .25rem;
    }
  
    #submit-button {
      text-align: center;
      padding: 1rem;
    }
  
    button {
      font-size: 16px;
      padding: .25rem 1rem; 
    }

  }
