@import "../utilities/variables";
@import "../utilities/mixins";

.song-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15rem;
}

.name {
    font-size: 16px;
}

.image-song {
    height: 125px;
    width: 125px;
    position: relative;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
    transition: opacity 0.3s;
}

.image-song:hover .overlay{
    opacity: .5;
    cursor: pointer;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: black;
}

.artist {
    font-size: 16px;
    cursor: default;
}